<div class="back-wrapper">
	<a href="{{ navigation.collection }}" class="button back-button">Back to collection</a>
</div>

<div class="photo-info">

<div>
	{{ifDefined "City" photo.location.city }}
	{{ifDefined "Country" photo.location.country }}
</div>

<div>
	{{date photo.created_at}}
	<p>Viewed: {{photo.views}}</p>
</div>

</div>

<div class="photo-wrapper"> 	
	<img class="photo" src="{{photo.urls.regular}}">
</div>
